:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Seymour One', sans-serif;

  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --tertiary-text-color: #0a8817;
  --accent-color: #f8d24e;

  --primary-background-color: #84a178;
  --secondary-background-color: #fcfcfc;
  
  //--tertiary-background-color: #f5f4fa;
  --button-color: #f8d24e;
  --accent-button-color: #0a8817;
  --disablet-button-color: #ababab;
  --burger-menu-color: #ffffff;

  --icon-fill: #afb1b8;
}
