<form class="form" autocomplete="off">
    <div class="buynow-grid">
        <label class="buynow">
          <input name="plan" class="buynow-radio" type="radio" />
          <div class="plan-details">
            <div class="plan-image"><img src="/src/images/modals/buynow/mobile/home-pic1@1x.png" /></div>
            <div class="plan-type">Блок 1</div>
             
         </div>
        </label>
        <label class="buynow">
          <input name="plan" class="buynow-radio" type="radio" />
          <div class="plan-details">
            <div class="plan-image"><img src="/src/images/modals/buynow/mobile/home-pic2@1x.png" /></div>
            <div class="plan-type">Блок 2</div>
          </div>
        </label>
        <label class="buynow">
          <input name="plan" class="buynow-radio" type="radio" checked />
          <div class="plan-details">
            <div class="plan-image"><img src="/src/images/modals/buynow/mobile/home-pic3@1x.png" /></div>
            <div class="plan-type">Блок 3</div>
           </div>
        </label>
      </div>
  <ul class="form__list-category">
<!--     <li class="form__item"></li>
    <li class="form__item"></li>
    <li class="form__item"></li> -->
    <li class="cathegory__client-info client-info">
      <h2 class="client-info__title title">Order form</h2>
      <label class="form__label">
        <span class="form__field-name">Name</span>
        <input
          class="form__input"
          name="name"
          type="text"
          placeholder="John Smith"
          tabindex="4"
        />
      </label>

      <label class="form__label">
        <span class="form__field-name">Phone</span>
        <input
          class="form__input"
          name="phone"
          type="tel"
          placeholder="+11 222 1234567"
          tabindex="5"
        />
      </label>

      <label class="form__label">
        <span class="form__field-name">E-mail</span>
        <input
          class="form__input"
          name="email"
          type="email"
          placeholder="John.Smith@mail.com"
          tabindex="6"
        />
      </label>

      <label class="form__label">
        <span class="form__field-name">Delivery adress</span>
        <input
          class="form__input"
          name="adress"
          type="text"
          placeholder="New York, 13st, 123, ap. 45"
          tabindex="7"
        />
      </label>

      <label class="form__label">
        <span class="form__field-name">Comments</span>

        <textarea
          class="form__input input-textarea"
          name="comments"
          rows="6"
          placeholder="Input any comments to your order"
          tabindex="8"
        ></textarea>
      </label>
    </li>
  </ul>
</form>
