<form class="form" autocomplete="off">
  <h2 class="buynow__title">Buy now</h2>
    <div class="buynow-grid">
        <label class="buynow">
          <input name="plan" class="buynow-radio" type="radio" />
          <div class="plan-details">
            <div class="plan-image"><img src="/src/images/modals/buynow/mobile/home-pic1@1x.png" /></div>
            <div class="plan-type">ice cream</div>
             
         </div>
        </label>
        <label class="buynow">
          <input name="plan" class="buynow-radio" type="radio" />
          <div class="plan-details">
            <div class="plan-image"><img src="/src/images/modals/buynow/mobile/home-pic2@1x.png" /></div>
            <div class="plan-type">ice coffee</div>
          </div>
        </label>
        <label class="buynow">
          <input name="plan" class="buynow-radio" type="radio" checked />
          <div class="plan-details">
            <div class="plan-image"><img src="/src/images/modals/buynow/mobile/home-pic3@1x.png" /></div>
            <div class="plan-type">milkshake</div>
           </div>
        </label>
      </div>
  <ul class="form__list-category">
<!--     <li class="form__item"></li>
    <li class="form__item"></li>
    <li class="form__item"></li> -->
    <li class="cathegory__client-info client-info">
      
      <label class="form__label">
        <input
          class="form__input"
          name="name"
          type="text"
          placeholder="Name"
          tabindex="4"
        />
      </label>

      <label class="form__label">
        <input
          class="form__input"
          name="phone"
          type="tel"
          placeholder="Phone"
          tabindex="5"
        />
      </label>

      <label class="form__label">
        <textarea
          class="form__input input-textarea"
          name="comments"
          rows="6"
          placeholder="Comment"
          tabindex="8"
        ></textarea>
      </label>
    </li>
  </ul>
</form>
