<form class="form" autocomplete="off">
  <ul class="buynow-products__list">
    <li class="buynow-products__item">
      <h3 class="buynow-products__heading">Ice Cream</h3>
      <label>
        <input type="radio" />
        <div>Ice Cream</div>
      </label>
      <!-- <a href="" class="buynow-products__link buynow-products__link-green"
        ></a
      > -->
    </li>
    <li class="buynow-products__item">
      <a href="" class="buynow-products__link buynow-products__link-yellow"
        >Ice Coffee</a
      >
    </li>
    <li class="buynow-products__item">
      <a href="" class="buynow-products__link buynow-products__link-brown"
        >Milkshake</a
      >
    </li>
  </ul>
  <ul class="form__list-category">
    <li class="form__item"></li>
    <li class="form__item"></li>
    <li class="form__item"></li>
  </ul>
</form>
