            <!-- ADVANTAGES -->
            <section>
                <div class="container">
                  <h2>ADVANTAGES</h2>
                  <ul class="advantages__list">
                    <li class="advantages__item">
                      <swg class="advantages__item--icon" width="50" height="50">
                        <use href="/src/images/sprite.svg#about_icon_cow"></use>
                      </swg>
                      <p class="advantages__value">721</p>
                      <p class="advantages__value--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                    <li class="advantages__item">
                      <swg class="advantages__item--icon" width="50" height="50">
                        <use href="/src/images/sprite.svg#about_icon_weight"></use>
                      </swg>
                      <p class="advantages__value">16kg</p>
                      <p class="advantages__value--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                    <li class="advantages__item">
                      <swg class="advantages__item--icon" width="50" height="50">
                        <use href="/src/images/sprite.svg#about_icon_ice_cream"></use>
                      </swg>
                      <p class="advantages__value">84</p>
                      <p class="advantages__value--description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                    </li>
                  </ul>
                </div>
              </section>