<section class="contacts">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <div class="container contacts__container">
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__category">Cafe</p>
                <div class="contacts__place">
                    <h3 class="contacts__city">Chicago</h3>
                    <address class="contacts__address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</address>
                </div>
                <div class="contacts__working">
                    <p class="contacts__working-day">Monday - Friday</p>
                    <time class="contacts__working-time" datetime="06:00:00">06:00 AM - 10:00 PM</time>>
                    <p class="contacts__working-day">Saturday - Sunday</p>
                    <time class="contacts__working-time" datetime="08:00:00">08:00 AM - 16:00 PM</time>>
                </div>
                <address class="contacts__info">
                    <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </address>

            </li>
            <li class="contacts__item">
                <p class="contacts__category">Food truck</p>
            </li>
            <li class="contacts__item">
                <p class="contacts__category">Cafe</p>
            </li>
        </ul>
        <button class="button">Our Location ></button>
        <button class="button">Franchise ></button>
    </div>

</section>