<section class="customer">
    <div class="container customer__container">
        <h2 class="section__title visually-hidden">Customer reviews</h2>
        <div class="customer__slider">
            <div class="customer__item">
                <img src="/src/images/reviews/testimonials1.jpg" alt="Emily, Los Angeles" class="customer__item-face">
                <p class="customer__reviews">
                    I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <p class="customer__reviews-location">Emily, Los Angeles</p>
            </div>
            <div class="customer__item">
                <img src="/src/images/reviews/testimonials2.jpg" alt="Galyna, New York" class="customer__item-face">
                <p class="customer__reviews">
                    I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <p class="customer__reviews-location">Galyna, New York</p>
            </div>
            <div class="customer__item">
                <img src="/src/images/reviews/testimonials3.jpg" alt="Natalya, Sacramento" class="customer__item-face">
                <p class="customer__reviews">
                    I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <p class="customer__reviews-location">Natalya, Sacramento</p>
            </div>
        </div>

    </div>

</section>