<section class="sec">
  <div class="container gallery__container">
    <h2 class="gallery__title visually-hidden">Our products</h2>
    <div class="gallery__radio-list">
      <a href="#gallery-1" class="gallery__radio-link"></a>
      <a href="#gallery-2" class="gallery__radio-link"></a>
      <a href="#gallery-3" class="gallery__radio-link"></a>
      <a href="#gallery-4" class="gallery__radio-link"></a>
      <a href="#gallery-5" class="gallery__radio-link"></a>
      <a href="#gallery-6" class="gallery__radio-link"></a>
    </div>
    <div class="gallery">
      <ul class="gallery__list grid">
        <li class="gallery__item is-active" id="gallery-1">
          <a href="./images/gallery/original-adaptive/gallery-1.jpg">
            <img
              src="./images/gallery/original-adaptive/gallery-1.jpg"
              alt="many ice cream"
              loading="lazy"
            />
          </a>
        </li>
        <li class="gallery__item" id="gallery-2">
          <a href="./images/gallery/original-adaptive/gallery-2.jpg">
            <img
              src="./images/gallery/original-adaptive/gallery-2.jpg"
              alt="ice cream"
              loading="lazy"
            />
          </a>
        </li>
        <li class="gallery__item" id="gallery-3">
          <a href="/src/images/gallery/gallery-3.jpg">
            <img
              src="./images/gallery/original-adaptive/gallery-3.jpg"
              alt="Yami-Yami"
              loading="lazy"
            />
          </a>
        </li>
        <li class="gallery__item" id="gallery-4">
          <a href="/src/images/gallery/gallery-4.jpg">
            <img
              src="./images/gallery/original-adaptive/gallery-4.jpg"
              alt="color ice-cream"
              loading="lazy"
            />
          </a>
        </li>
        <li class="gallery__item" id="gallery-5">
          <a href="/src/images/gallery/gallery-5.jpg">
            <img
              src="./images/gallery/original-adaptive/gallery-5.jpg"
              alt="The ice cream"
              loading="lazy"
            />
          </a>
        </li>
        <li class="gallery__item" id="gallery-6">
          <a href="/src/images/gallery/gallery-6.jpg">
            <img
              src="./images/gallery/original-adaptive/gallery-6.jpg"
              alt="100% milk"
              loading="lazy"
            />
          </a>
        </li>
      </ul>
    </div>

  </div>
</section>
