<section class="sec">
    <div class="container gallery__container">
        <div class="gallery">
            <ul class="gallery__list grid">
                <li class="gallery__item is-active">
                    <a href="./images/gallery/original-adaptive/gallery-1.jpg">
                        <img src="./images/gallery/original-adaptive/gallery-1.jpg" alt="many ice cream" loading="lazy">
                    </a>
                </li>
                <li class="gallery__item visually-hidden">
                    <a href="./images/gallery/original-adaptive/gallery-2.jpg">
                        <img src="./images/gallery/original-adaptive/gallery-2.jpg" alt="ice cream" loading="lazy">
                    </a>
                </li>
                <li class="gallery__item visually-hidden">
                    <a href="/src/images/gallery/gallery-3.jpg">
                        <img src="./images/gallery/original-adaptive/gallery-3.jpg" alt="Yami-Yami" loading="lazy">
                    </a>
                </li>
                <li class="gallery__item visually-hidden">
                    <a href="/src/images/gallery/gallery-4.jpg">
                        <img src="./images/gallery/original-adaptive/gallery-4.jpg" alt="color ice-cream" loading="lazy">
                    </a>
                </li>
                <li class="gallery__item visually-hidden">
                    <a href="/src/images/gallery/gallery-5.jpg">
                        <img src="./images/gallery/original-adaptive/gallery-5.jpg" alt="The ice cream" loading="lazy">
                    </a>
                </li>
                <li class="gallery__item visually-hidden">
                    <a href="/src/images/gallery/gallery-6.jpg">
                        <img src="./images/gallery/original-adaptive/gallery-6.jpg" alt="100% milk" loading="lazy">
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>