<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button class="button hero__button">Products</button>
    <a href="#" class="hero__link">How it’s made?</a>
    <div class="hero__preview">
<!--       <img
        class="hero__preview-image"
        src="/src/images/many-ice-cream.png"
        alt="many ice cream"
      /> -->
      <picture class="hero__preview-image">
        <source
          srcset="
            ../src/images/many-ice-cream-desktop.png    1x,
            ../src/images/many-ice-cream-desktop@2x.png 2x "
              media="(min-width:1200px)"
            />
        <source
          srcset="
            ../src/images/many-ice-cream-tablet.png    1x,
            ../src/images/many-ice-cream-tablet@2x.png 2x "
              media="(min-width:768px)"
          />
          <img src="/src/images/many-ice-cream.png" alt="many ice cream">
      </picture>
      <div class="hero__preview-wrapper">
        <p class="hero__preview-description">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit,
          consequatur amet consectetur adipisicing elit.
        </p>

        <a href="#" class="hero__preview-button">
          <svg class="hero__preview-swg" width="40" height="16">
            <use href="/src/images/sprite.svg#arrow-icon"></use></svg>
          </a>
      </div>
    </div>
    <img
    src="/src/images/points.png"
    alt="decoration points"
    class="hero__points"
  />
  <img
  src="/src/images/points-tablet.png"
  alt="decoration points"
  class="hero__points-tablet"
/>
<img
src="/src/images/points-desktop.png"
alt="decoration points"
class="hero__points-desktop"
/>
  <img
    src="/src/images/ice cream_desktop/ice cream_desktop.png"
    alt="ice cream"
    class="hero__image"
  />


  </div>
</section>
