.about__container{

    padding-top: 65px;
    padding-bottom: 30px;

    background-color: var(--primary-background-color);
    @media screen and (min-width: 768px){
        padding-bottom: 40px;
    }
    @media screen and (min-width: 1200px){
        padding-bottom: 50px;
    }

}
.about__title--description{
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-text-color);
}
.about__title{
  margin-bottom: 35px;

  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  color: var(--primary-text-color);
}
.about__table{
    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
    }
}
.about__img--cow{
    width: 279px;
    //height: 278px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    @media screen and (min-width: 768px){
        width: 330px;
    }
    @media screen and (min-width: 1200px){
        width: 490px;
    }

}
.about__description--total{
    @media screen and (min-width: 768px){
        padding-left: 35px;
    }
    @media screen and (min-width: 1200px){
        padding-left: 110px;
    }
}
.about__description{
    margin-left: auto;
    margin-right: auto;
    
    width: 220px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.75;

    letter-spacing: 0.04em;
    text-align: center;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px){
        width: 334px;

        font-size: 12px;

        text-align: left;
    }
    @media screen and (min-width: 1200px){
        width: 463px;

        font-size: 16px;
    }
    &:nth-child(2), &:nth-child(3){
        @media screen and (min-width: 1200px){
            font-size: 12px;  
        } 
    }
}
.about__button {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    width: 164px;
    height: 42px;
    background: var(--button-color);
    border: none;
    border-radius: 10px;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    text-align: center;

    @media screen and (min-width: 768px){
        margin-left: 0;
        margin-top: 30px;
    }
    @media screen and (min-width: 1200px){
        margin-top: 50px;  
    }
}