.hero {
  background-color: var(--primary-background-color);
}
.hero__container {
  position: relative;
  @media screen and (min-width: 768px) {
    min-height: 340px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 570px;
  }
}
.hero__title {
  width: 247px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    width: 367px;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 30px;
  }
}
.hero__button {
  width: 108px;
  height: 38px;
  margin-top: 32px;
  margin-bottom: 220px;
  padding: 11px 26px;

  box-sizing: border-box;
  border: 2px solid var(--button-color);
  border-radius: 8px;
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: var(--secondary-text-color);

  @media screen and (min-width: 480px) {
    margin-bottom: 145px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: 134px;
    height: 42px;
    margin-bottom: 40px;
  }
}
.hero__button:focus, 
.hero__button:hover{
  background-color: var(--accent-color);
}
.hero__link {
  margin-left: 12px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-decoration-line: underline;

  color: var(--accent-color);
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    margin-left: 35px;

    font-size: 14px;
  }
}
.hero__link:hover, .hero__link:focus{
  color: black;
}
.hero__points {
  width: 320px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0%);
  @media screen and (min-width: 480px) {
    right: 163px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.hero__points-tablet {
  display: none;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0%);
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.hero__points-desktop {
  display: none;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0%);
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.hero__image {
  width: 177px;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0%);
  @media screen and (min-width: 480px) {
    right: 155px;
  }
  @media screen and (min-width: 768px) {
    width: 268px;
    right: 200px;
  }
  @media screen and (min-width: 1200px) {
    width: 456px;
    right: 335px;
  }
}
.hero__preview {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 65px;
  }
}
.hero__preview-image {
  width: 152px;
  margin-bottom: 15px;
  z-index: 2;
  @media screen and (min-width: 1200px) {
    width: 225px;
  }
}
.hero__preview-wrapper {
  margin-left: 15px;
}
.hero__preview-description {
  width: 139px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  @media screen and (min-width: 1200px) {
    width: 200px;
    font-size: 14px;
  }
}
.hero__preview-button {
  width: 40px;
  height: 16px;
  cursor: pointer;
}
