.products__container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(/src/images/section-product/bg_product_section_320px.png);
  @media screen and (min-width: 480px) {
    background-image: url(/src/images/section-product/bg_product_section_480px.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(/src/images/section-product/bg_product_section_768px.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(/src/images/section-product/bg_product_section_1200px.png);
  }
}
.products__title-descriptions {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.products__title {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 148px;

  @media screen and (min-width: 480px) {
    margin-bottom: 145px;
  }
  @media screen and (min-width: 768px) {
    font-size: 34px;
    margin-bottom: 200px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 300px;
  }
}
.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.products__item {
  display: flex;
  position: relative;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 190px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 24px;

  margin-bottom: 170px;
  &:last-child {
    margin-bottom: 0px;
  }

  &:nth-child(1) {
    background-color: #aec6a5;
  }
  &:nth-child(2) {
    background-color: #efd478;
  }
  &:nth-child(3) {
    background-color: #d6936d;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0px;
    margin-right: 16px;
    &:last-child {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 65px;
    padding-left: 60px;
    padding-right: 60px;
    margin-right: 29px;
  }
}
.products__item--bg-green::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;

  width: 200px;
  height: 212px;

  transform: translate(-50%, -50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/src/images/products/mobile/ice_cream_1_320px_1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/products/mobile/ice_cream_1_320px_2x.png);
  }
  @media screen and (min-width: 768px) {
    top: 0;
    background-image: url(/src/images/products/tablet/ice_cream_1_768px_1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/products/tablet/ice_cream_1_768px_2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    top: -42px;

    width: 302px;
    height: 318px;

    background-image: url(/src/images/products/desktop/ice_cream_1_1200_1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/products/desktop/ice_cream_1_1200_2x.png);
    }
  }
}

.products__item--bg-yellow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;

  width: 200px;
  height: 212px;

  transform: translate(-50%, -50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/src/images/products/mobile/ice_cream_2_320px_1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/products/mobile/ice_cream_2_320px_2x.png);
  }
  @media screen and (min-width: 768px) {
    top: 0;
    background-image: url(/src/images/products/tablet/ice_cream_2_768px_1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/products/tablet/ice_cream_2_768px_2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    top: -42px;

    width: 302px;
    height: 318px;

    background-image: url(/src/images/products/desktop/ice_cream_2_1200_1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/products/desktop/ice_cream_2_1200_2x.png);
    }
  }
}
.products__item--bg-brown::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;

  width: 200px;
  height: 212px;

  transform: translate(-50%, -50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/src/images/products/mobile/ice_cream_3_320px_1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/products/mobile/ice_cream_3_320px_2x.png);
  }
  @media screen and (min-width: 768px) {
    top: 0;
    background-image: url(/src/images/products/tablet/ice_cream_3_768px_1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/products/tablet/ice_cream_3_768px_2x.png);
    }
  }

  @media screen and (min-width: 1200px) {
    top: -42px;

    width: 302px;
    height: 318px;

    background-image: url(/src/images/products/desktop/ice_cream_3_1200_1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/products/desktop/ice_cream_3_1200_2x.png);
    }
  }
}

.products__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  text-align: center;

  margin-bottom: 40px;

  color: var(--secondary-text-color);
}
.products__descriptions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.04em;

  text-align: center;

  color: var(--secondary-text-color);

  width: 200px;
  margin-bottom: 109px;
  @media screen and (min-width: 480px) {
    margin-bottom: 115px;
  }
  @media screen and (min-width: 768px) {
    width: 172px;
    margin-bottom: 90px;
  }
  @media screen and (min-width: 1200px) {
    width: 242px;
    margin-bottom: 60px;
  }
}
