.products__container {
  background-image: url(/src/images/section-product/bg_product_section_320px.png);
  @media screen and (min-width: 480px) {
    background-image: url(/src/images/section-product/bg_product_section_480px.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(/src/images/section-product/bg_product_section_768px.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(/src/images/section-product/bg_product_section_1200px.png);
  }
}
.products__title-descriptions {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.products__title {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
